body{
    background-color:hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
}
.svg img{
    height: 10px;
}
.svg{
display: flex;
    height: 30px;
    width: 30px;
    background-color:hsl(216, 18%, 29%) ;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}



.card-1{
    margin-top: 250px;
   margin-left: 550px;
    background-color: hsl(214, 43%, 15%);
    color: white;
    height: 320px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
}
.text-1{
    margin: 10% 10% 10% 10%;
    font-size: 15px;
    color: darkgray;
}
h2{
    color: white;
}

.btn{
    color: aliceblue;
    
    background-color:hsl(216, 18%, 29%);
    height: 35px;
    width: 35px;
    font-size: 15px;
    border: 0px;
    border-radius: 100%;
   
    
}
.button{
    display: flex;
    justify-content: space-between;
    
}
.submit{
    
    background-color: hsl(25, 97%, 53%) ;
    border: 0px;
    font-size: 15px;
    color:hsl(214, 10%, 86%);
    height: 30px;
    width: 240px;
    border-radius: 50px;
    margin-top: 20px;
    letter-spacing: 2px;

    
   
}
.btn:hover{
    background-color:darkgray ;
}
.btn:focus {
    background:hsl(25, 97%, 53%);
   
  }
  .submit:hover{
    background-color: aliceblue;
    color:hsl(216, 18%, 29%) ;
  }
  .card-2{
    margin-top: 250px;
    margin-left: 550px;
     background-color: hsl(214, 43%, 15%);
     color: white;
     height: 320px;
     width: 300px;
     border-radius: 20px;
     overflow: hidden;
     text-align: center;
  }
  .star{ display: flex;
    color:hsl(25, 97%, 53%) ;
    font-size: 15px;
    height: 30px;
    width: 200px;
    justify-content: center;
    align-items: center;
    background-color:hsl(216, 18%, 29%);
    border-radius: 20px;
    margin-left: 20px;
  }
  .hidden{
    display: none;
  }